* {
  padding: 0;
  margin: 0;
}
html {
  min-height: 100vh;
}

body {
  background-color: black;
  font-family: "SF Pro Display", sans-serif;
  color: white;
}

.container {
  height: 250vh;
}

.sticky-hero {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.sticky-hero .image-sequence-container-hero {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-sequence-container-inner-hero {
  position: relative;
  padding-bottom: 34.8148148148%;
  transform: translateY(8%);
}

.sticky-hero .hero-lookup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  will-change: transform, opacity;
}

.hero-lookup h1 {
  font-size: 14.6vw;
}

.sticky-hero .hero-payoff {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.025em;
  opacity: 0;
}

#image-sequence-container-hero {
  opacity: 0;
  will-change: transform, opacity;
}
